check process shadowsocksr with MATCHING "^.*server.py.*json.*$"
    start program = "/opt/script/shadowsocksRConsole start" with timeout 30 seconds
    stop program = "/opt/script/shadowsocksRConsole stop"