check process shadowsockslibev with MATCHING "^.*ss-server.*$"
    start program = "/usr/local/sbin/shadowsocksLibevConsole start" with timeout 30 seconds
    stop program = "/usr/local/sbin/shadowsocksLibevConsole stop"
