check process shadowsockslibevlocal with MATCHING "^.*ss-local.*$"
    start program = "/usr/local/sbin/shadowsocksLibevLocalConsole start" with timeout 30 seconds
    stop program = "/usr/local/sbin/shadowsocksLibevLocalConsole stop"
