check process trojan_client with MATCHING "^.*trojan_client.*$"
    start program = "/usr/local/sbin/trojanClientConsole start" with timeout 30 seconds
    stop program = "/usr/local/sbin/trojanClientConsole stop"
