check process shadowsocks with MATCHING "^.*shadowsocks-server.*json.*$"
    start program = "/usr/local/sbin/shadowsocksConsole start" with timeout 30 seconds
    stop program = "/usr/local/sbin/shadowsocksConsole stop"