check process shadowsocks2 with MATCHING "^.*go-shadowsocks2.*$"
    start program = "/opt/script/shadowsocks2Console start" with timeout 30 seconds
    stop program = "/opt/script/shadowsocks2Console stop"
