check process shadowsockslibev with MATCHING "^.*ss-server.*$"
    start program = "/opt/script/shadowsocksLibevConsole start" with timeout 30 seconds
    stop program = "/opt/script/shadowsocksLibevConsole stop"
