check process shadowsockslibevclient with MATCHING "^.*ss-local.*$"
    start program = "/opt/script/shadowsocksLibevClientConsole start" with timeout 30 seconds
    stop program = "/opt/script/shadowsocksLibevClientConsole stop"
